{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Superman</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptas recusandae soluta. Sit fugit natus id nihil iusto eos beatae totam quaerat tempora nostrum reiciendis quam, explicabo temporibus excepturi delectus?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/imagen.jpg" class="img-thumbnail"/>
    </div>
</div>

{{> footer}}